In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [2]:
%conda install matplotlib

Collecting package metadata (current_repodata.json): done
Solving environment: - ^C
failed with initial frozen solve. Retrying with flexible solve.

CondaError: KeyboardInterrupt


Note: you may need to restart the kernel to use updated packages.

In [8]:
df = pd.read_csv('./train.csv')

In [9]:
df = df.drop("2category", axis=1)
df

,Unnamed: 0,sentence,1category,sentiment
0,4754,При этом всегда получал качественные услуги.,Communication,+
1,4417,"Не вижу, за что хотя бы 2 поставить, сервис на 1!",?,−
2,3629,"Вот так ""Мой любимый"" банк МКБ меня обманул.",?,−
3,11640,Отвратительное отношение к клиентам.,Communication,−
4,5571,"Всегда в любое время дня и ночи помогут, ответ...",Communication,+
...,...,...,...,...
19356,8004,Никогда и ни в коем случае не открывайте счет ...,Communication,−
19357,18182,ТИ откровенно забили на качество и развивают с...,Quality,−
19358,744,"Я считаю, это прорыв и лидерство финансовых ус...",?,+
19359,6220,"Писал мужчина очень доходчиво, не финансовым я...",Communication,+
19360,8433,"Данная ситуация меня сильно выбила из колеи, и...",Communication,−

In [10]:
df["1category"].unique()
df["sentiment"].unique()

array(['+', '−', '?'], dtype=object)

In [11]:
category_replace_map = {
    '?': 0,
    'Communication': 1,
    'Quality': 2,
    'Price': 3,
    'Safety': 4
}

sentiment_replace_map = {
    '+': 2,
    '?': 1,
    '−': 0,
}

In [13]:
df["1category"] = df["1category"].map(category_replace_map)

In [14]:
df

,Unnamed: 0,sentence,1category,sentiment
0,4754,При этом всегда получал качественные услуги.,1,+
1,4417,"Не вижу, за что хотя бы 2 поставить, сервис на 1!",0,−
2,3629,"Вот так ""Мой любимый"" банк МКБ меня обманул.",0,−
3,11640,Отвратительное отношение к клиентам.,1,−
4,5571,"Всегда в любое время дня и ночи помогут, ответ...",1,+
...,...,...,...,...
19356,8004,Никогда и ни в коем случае не открывайте счет ...,1,−
19357,18182,ТИ откровенно забили на качество и развивают с...,2,−
19358,744,"Я считаю, это прорыв и лидерство финансовых ус...",0,+
19359,6220,"Писал мужчина очень доходчиво, не финансовым я...",1,+
19360,8433,"Данная ситуация меня сильно выбила из колеи, и...",1,−

In [15]:
df["sentiment"] = df["sentiment"].map(sentiment_replace_map)

In [16]:
df

,Unnamed: 0,sentence,1category,sentiment
0,4754,При этом всегда получал качественные услуги.,1,2
1,4417,"Не вижу, за что хотя бы 2 поставить, сервис на 1!",0,0
2,3629,"Вот так ""Мой любимый"" банк МКБ меня обманул.",0,0
3,11640,Отвратительное отношение к клиентам.,1,0
4,5571,"Всегда в любое время дня и ночи помогут, ответ...",1,2
...,...,...,...,...
19356,8004,Никогда и ни в коем случае не открывайте счет ...,1,0
19357,18182,ТИ откровенно забили на качество и развивают с...,2,0
19358,744,"Я считаю, это прорыв и лидерство финансовых ус...",0,2
19359,6220,"Писал мужчина очень доходчиво, не финансовым я...",1,2
19360,8433,"Данная ситуация меня сильно выбила из колеи, и...",1,0